.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: rgb(234, 174, 85, 10%);
  color: #ffffff;
  border: 1px solid #eaae55;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top-button:hover {
  background: rgba(172, 127, 63, 0.5);
  border: 1px solid #eaae55;
  transform: scale(1.1);
  border-radius: 30px;
}

@media (max-width: 767px) {
  .scroll-to-top-button {
    bottom: 75px;
    right: 20px;
    padding: 8px 13px;
  border: 1px solid #ffffff;

  }

  .scroll-to-top-button:hover {
    background: rgba(53, 53, 53, 0.5);
    border: 1px solid #eaae55;
  }
}
