// * {
//   border: 1px solid greenyellow;
// }

.sidebar {
  width: 250px;
  height: 836px;
  background-color: #020202;
  color: #fff;
  position: absolute;
  top: 0;
  right: -350px;
  transition: right 0.3s ease;
}

.sidebar.open {
  right: -30px;
}

.menu {
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -40px;

  .fa-xmark {
    text-align: left;
    align-self: flex-start;
    font-size: 2em;
  }

  p {
    text-align: left;
  }
}

.fa-xmark:hover {
  color: #a2865d;
}

/* Стили для иконки меню */
.fa-bars-staggered,
.fa-xmark {
  cursor: pointer;
}

@media (max-width: 767px) {
  .sidebar {
    // background-color: #a2865d;
    top: -30px;
    height: 550px;
  }

  .sidebar.open {
    right: -45px;
  }

  .menu {
  margin-top: -10px;

  }
}
